.nav {
	position: fixed;
	top: 10%;
	right: 4%;
	z-index: 2;
	/* background: linear-gradient(90deg, #fc7544, #f0a400); */
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px, 10px;
	border-radius: 10px;
}

.nav-icon {
	color: var(--something-white);
	margin: 3px 5px;
	padding: 5px;
	background: black;
	border-radius: 50%;
	transition: ease, 0.4s;
}

.active {
	color: var(--background-color-con);
	margin: 3px 5px;
	padding: 5px;
	background: var(--something-white);
	border-radius: 50%;
	transition: ease, 0.4s;
}

.nav-icon:hover {
	color: var(--background-color-con);
	background: var(--something-white);
}

@media screen and (max-width: 768px) and (orientation: landscape) {
	.nav {
		top: 12%;
		right: 4%;
	}
}

/* @media screen and (max-width: 480px) {
	nav {
		width: 50%;
		left: 25%;
	}
} */
